<div
  class="simple-chart"
  {{on-resize (perform this.calculateSize)}}
>
  <this.chartComponent
    @data={{@data}}
    @isIcon={{this.isIcon}}
    @hover={{perform this.handleHover}}
    @onClick={{perform this.handleClick}}
    @leave={{perform this.handleLeave}}
    @isClickable={{this.isClickable}}
    @containerHeight={{this.height}}
    @containerWidth={{this.width}}
  />
  {{#if this.tooltipTarget}}
    {{yield
      (hash
        tooltip=(component "simple-chart-tooltip" target=this.tooltipTarget title=null)
      )
    }}
  {{/if}}
</div>
