<div class="example">
  <h3>Action on Click</h3>
  <div class="example">
    <SimpleChart
        @name={{@name}}
        @data={{this.data}}
        @onClick={{this.click}}
    >
    </SimpleChart>
  </div>
  <SampleCode>
    <:html>
&lt;div class="icon-example"&gt;
  &lt;SimpleChart
    @name="{{@name}}"
    @data=&#123;&#123;this.data&#125;&#125;
    @onClick=&#123;&#123;this.click&#125;&#125;
  /&gt;
&lt;/div&gt;
    </:html>
    <:css>
.medium-example {
  height: 250px;
  width: 250px;
}
    </:css>
    <:data>{{this.sampleData}}</:data>
  </SampleCode>
</div>