{{! template-lint-disable no-bare-strings }}
<header class="header">
  <h1>
    Ember Simple Charts
  </h1>
  <h2>
    Donut Chart
  </h2>
</header>
<div class="detail-chart">
  <DocsDemo as |demo|>
    <h3>
      Turn Data into a Donut
    </h3>
    <demo.example @name="donut.hbs">
      <div class="medium-example example">
        <SimpleChart @name="donut" @data={{this.chartData.donut}} />
      </div>
    </demo.example>
    <demo.snippet @name="donut.hbs" @label="Template" />
    <demo.snippet @name="medium.css" @label="CSS" />
    <demo.snippet @name="chart-data.js" @label="Data Service" />
  </DocsDemo>

  <DocsDemo as |demo|>
    <h3>
      As an Icon
    </h3>
    <demo.example @name="donut-icon.hbs">
      <div class="icon-example example">
        <SimpleChart
          @isIcon={{true}}
          @name="donut"
          @data={{this.chartData.donut}}
        />
      </div>
    </demo.example>
    <demo.snippet @name="donut-icon.hbs" @label="Template" />
    <demo.snippet @name="icon.css" @label="CSS" />
    <demo.snippet @name="chart-data.js" @label="Data Service" />
  </DocsDemo>
  <DocsDemo as |demo|>
    <h3>
      Responsive to container size
    </h3>
    <demo.example @name="donut-responsive.hbs">
      <div class="large-example example">
        <SimpleChart @name="donut" @data={{this.chartData.donut}} />
      </div>
    </demo.example>
    <demo.snippet @name="donut-responsive.hbs" @label="Template" />
    <demo.snippet @name="large.css" @label="CSS" />
    <demo.snippet @name="chart-data.js" @label="Data Service" />
  </DocsDemo>
  <DocsDemo as |demo|>
    <h3>
      With Tooltips
    </h3>
    <demo.example @name="donut-tooltips.hbs">
      <div class="medium-example example">
        <SimpleChart
          @name="donut"
          @data={{this.chartData.donut}}
          @hover={{fn (mut this.tooltipData)}}
          @leave={{fn (mut this.tooltipData) null}} as |chart|
        >
          {{#if this.tooltipData}}
            <chart.tooltip
              @title={{concat
                this.tooltipData.label
                " ("
                this.tooltipData.data
                ")"
              }}
            >
              {{this.chartData.ipsum}}
            </chart.tooltip>
          {{/if}}
        </SimpleChart>
      </div>
    </demo.example>
    <demo.snippet @name="donut-tooltips.hbs" @label="Template" />
    <demo.snippet @name="medium.css" @label="CSS" />
    <demo.snippet @name="chart-data.js" @label="Data Service" />
  </DocsDemo>
  <DocsDemo as |demo|>
    <h3>
      Action on Click
    </h3>
    <demo.example @name="donut-click.hbs">
      <div class="medium-example example">
        <SimpleChart
          @name="donut"
          @data={{this.chartData.donut}}
          @onClick={{this.chartData.click}}
        >
        </SimpleChart>
      </div>
    </demo.example>
    <demo.snippet @name="donut-click.hbs" @label="Template" />
    <demo.snippet @name="medium.css" @label="CSS" />
    <demo.snippet @name="chart-data.js" @label="Data Service" />
  </DocsDemo>
</div>
