{{! template-lint-disable no-bare-strings }}
<header class="header">
  <h1>
    Ember Simple Charts
  </h1>
  <h2>
    Bar Chart
  </h2>
</header>
<div class="detail-chart">
  <DocsDemo as |demo|>
    <h3>
      As an Icon
    </h3>
    {{#demo.example name="bar-icon.hbs"}}
      <div class="icon-example example">
        <SimpleChart
          @isIcon={{true}}
          @name="bar"
          @data={{this.chartData.bar}}
        />
      </div>
    {{/demo.example}}
    <demo.snippet @name="bar-icon.hbs" @label="Template" />
    <demo.snippet @name="icon.css" @label="CSS" />
    <demo.snippet @name="chart-data.js" @label="Data Service" />
  </DocsDemo>
  <DocsDemo as |demo|>
    <h3>
      Responsive to container size
    </h3>
    {{#demo.example name="bar-responsive.hbs"}}
      <div class="medium-example example">
        <SimpleChart @name="bar" @data={{this.chartData.bar}} />
      </div>
    {{/demo.example}}
    <demo.snippet @name="bar-responsive.hbs" @label="Template" />
    <demo.snippet @name="medium.css" @label="CSS" />
    <demo.snippet @name="chart-data.js" @label="Data Service" />
  </DocsDemo>
  <DocsDemo as |demo|>
    <h3>
      With Tooltips
    </h3>
    {{#demo.example name="bar-tooltips.hbs"}}
      <div class="large-example example">
        <SimpleChart
          @name="bar"
          @data={{this.chartData.bar}}
          @hover={{action (mut this.tooltip)}}
          @leave={{action (mut this.tooltip) null}} as |chart|
        >
          {{#if this.tooltip}}
            <chart.tooltip
              @title={{concat this.tooltip.label " (" this.tooltip.data ")"}}
            >
              {{this.chartData.ipsum}}
            </chart.tooltip>
          {{/if}}
        </SimpleChart>
      </div>
    {{/demo.example}}
    <demo.snippet @name="bar-tooltips.hbs" @label="Template" />
    <demo.snippet @name="large.css" @label="CSS" />
    <demo.snippet @name="chart-data.js" @label="Data Service" />
  </DocsDemo>
</div>
