{{! template-lint-disable no-bare-strings }}
<header class="header">
  <h1>
    Ember Simple Charts
  </h1>
  <h2>
    Cluster Chart
  </h2>
</header>
<div class="detail-chart">
  <DocsDemo as |demo|>
    <h3>
      Turn Data into a Cluster
    </h3>
    {{#demo.example name="cluster.hbs"}}
      <div class="medium-example example">
        <SimpleChart @name="cluster" @data={{this.chartData.cluster}} />
      </div>
    {{/demo.example}}
    <demo.snippet @name="cluster.hbs" @label="Template" />
    <demo.snippet @name="medium.css" @label="CSS" />
    <demo.snippet @name="chart-data.js" @label="Data Service" />
  </DocsDemo>

  <DocsDemo as |demo|>
    <h3>
      As an Icon
    </h3>
    {{#demo.example name="cluster-icon.hbs"}}
      <div class="icon-example example">
        <SimpleChart
          @isIcon={{true}}
          @name="cluster"
          @data={{this.chartData.cluster}}
        />
      </div>
    {{/demo.example}}
    <demo.snippet @name="cluster-icon.hbs" @label="Template" />
    <demo.snippet @name="icon.css" @label="CSS" />
    <demo.snippet @name="chart-data.js" @label="Data Service" />
  </DocsDemo>
  <DocsDemo as |demo|>
    <h3>
      Responsive to container size
    </h3>
    {{#demo.example name="cluster-responsive.hbs"}}
      <div class="large-example example">
        <SimpleChart @name="cluster" @data={{this.chartData.cluster}} />
      </div>
    {{/demo.example}}
    <demo.snippet @name="cluster-responsive.hbs" @label="Template" />
    <demo.snippet @name="large.css" @label="CSS" />
    <demo.snippet @name="chart-data.js" @label="Data Service" />
  </DocsDemo>
  <DocsDemo as |demo|>
    <h3>
      With Tooltips
    </h3>
    {{#demo.example name="cluster-tooltips.hbs"}}
      <div class="medium-example example">
        <SimpleChart
          @name="cluster"
          @data={{this.chartData.cluster}}
          @hover={{action (mut this.tooltipData)}}
          @leave={{action (mut this.tooltipData) null}} as |chart|
        >
          {{#if this.tooltipData}}
            <chart.tooltip
              @title={{concat
                this.tooltipData.label
                " ("
                this.tooltipData.data
                ")"
              }}
            >
              {{this.chartData.ipsum}}
            </chart.tooltip>
          {{/if}}
        </SimpleChart>
      </div>
    {{/demo.example}}
    <demo.snippet @name="cluster-tooltips.hbs" @label="Template" />
    <demo.snippet @name="medium.css" @label="CSS" />
    <demo.snippet @name="chart-data.js" @label="Data Service" />
  </DocsDemo>
  <DocsDemo as |demo|>
    <h3>
      Action on Click
    </h3>
    {{#demo.example name="cluster-click.hbs"}}
      <div class="medium-example example">
        <SimpleChart
          @name="cluster"
          @data={{this.chartData.cluster}}
          @click={{action this.chartData.click}}
        >
        </SimpleChart>
      </div>
    {{/demo.example}}
    <demo.snippet @name="cluster-click.hbs" @label="Template" />
    <demo.snippet @name="medium.css" @label="CSS" />
    <demo.snippet @name="chart-data.js" @label="Data Service" />
  </DocsDemo>
</div>
