<div class="ember-simple-charts-wrapper">
  <div class="panel">
    <h4>{{#link-to "docs.donut"}}Donut{{/link-to}}</h4>
    {{simple-chart name="donut" data=chartData.donut}}
  </div>
  <div class="panel">
    <h4>{{#link-to "docs.pie"}}Pie{{/link-to}}</h4>
    {{simple-chart name="pie" data=chartData.pie}}
  </div>
  <div class="panel">
    <h4>{{#link-to "docs.bar"}}Bar{{/link-to}}</h4>
    {{simple-chart name="bar" data=chartData.bar}}
  </div>
  <div class="panel">
    <h4>{{#link-to "docs.horz-bar"}}Horizontal Bar{{/link-to}}</h4>
    {{simple-chart name="horz-bar" data=chartData.bar}}
  </div>
  <div class="panel">
    <h4>{{#link-to "docs.cluster"}}Cluster{{/link-to}}</h4>
    {{simple-chart name="cluster" data=chartData.cluster}}
  </div>
  <div class="panel">
    <h4>{{#link-to "docs.pack"}}Pack{{/link-to}}</h4>
    {{simple-chart name="pack" data=chartData.pack}}
  </div>
  <div class="panel">
    <h4>{{#link-to "docs.tree"}}Tree{{/link-to}}</h4>
    {{simple-chart name="tree" data=chartData.tree}}
  </div>
</div>
