{{! template-lint-disable no-bare-strings }}
<div class="ember-simple-charts-wrapper">
  <div class="panel">
    <h4>
      <LinkTo @route="docs.donut">
        Donut
      </LinkTo>
    </h4>
    <SimpleChart @name="donut" @data={{this.chartData.donut}} />
  </div>
  <div class="panel">
    <h4>
      <LinkTo @route="docs.pie">
        Pie
      </LinkTo>
    </h4>
    <SimpleChart @name="pie" @data={{this.chartData.pie}} />
  </div>
  <div class="panel">
    <h4>
      <LinkTo @route="docs.bar">
        Bar
      </LinkTo>
    </h4>
    <SimpleChart @name="bar" @data={{this.chartData.bar}} />
  </div>
  <div class="panel">
    <h4>
      <LinkTo @route="docs.horz-bar">
        Horizontal Bar
      </LinkTo>
    </h4>
    <SimpleChart @name="horz-bar" @data={{this.chartData.bar}} />
  </div>
  <div class="panel">
    <h4>
      <LinkTo @route="docs.cluster">
        Cluster
      </LinkTo>
    </h4>
    <SimpleChart @name="cluster" @data={{this.chartData.cluster}} />
  </div>
  <div class="panel">
    <h4>
      <LinkTo @route="docs.pack">
        Pack
      </LinkTo>
    </h4>
    <SimpleChart @name="pack" @data={{this.chartData.pack}} />
  </div>
  <div class="panel">
    <h4>
      <LinkTo @route="docs.tree">
        Tree
      </LinkTo>
    </h4>
    <SimpleChart @name="tree" @data={{this.chartData.tree}} />
  </div>
</div>
