<header class="header">
  <h1>Ember Simple Charts</h1>
  <p>Some simple charts you can use in your email app.</p>
</header>

<div class='ember-simple-charts-wrapper'>
  <div class="panel">
    <h4>{{#link-to 'chart-donut'}}Donut{{/link-to}}</h4>
    {{simple-chart name='donut' data=model.donut}}
  </div>
  <div class="panel">
    <h4>{{#link-to 'chart-pie'}}Pie{{/link-to}}</h4>
    {{simple-chart name='pie' data=model.pie}}
  </div>
  <div class="panel">
    <h4>{{#link-to 'chart-bar'}}Bar{{/link-to}}</h4>
    {{simple-chart name='bar' data=model.bar}}
  </div>
  <div class="panel">
    <h4>{{#link-to 'chart-horz-bar'}}Horizontal Bar{{/link-to}}</h4>
    {{simple-chart name='horz-bar' data=model.bar}}
  </div>
  <div class="panel">
    <h4>{{#link-to 'chart-cluster'}}Cluster{{/link-to}}</h4>
    {{simple-chart name='cluster' data=model.cluster}}
  </div>
  <div class="panel">
    <h4>{{#link-to 'chart-pack'}}Pack{{/link-to}}</h4>
    {{simple-chart name='pack' data=model.pack}}
  </div>
  <div class="panel">
    <h4>{{#link-to 'chart-tree'}}Tree{{/link-to}}</h4>
    {{simple-chart name='tree' data=model.tree}}
  </div>
</div>

<footer class="footer"></footer>
